<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
	<service id="oDataDistributionService"
		interface="net.staniscia.odynodatabus.DataDistributionService" ref="OdynoDatabus" />

	<bean id="MemoryDDS" class="net.staniscia.odynodatabus.imp.mem.MemoryDDS" />
</blueprint>